Repository tomfelsws/forgeops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-downloader-docker-image, build-ci-docker-image, build-git-docker-image, build-java-docker-image, build-util-docker-image, build-amster-docker-image, build-openam-docker-image, build-ds-docker-image, push-helm-charts

Path conditions:
  build-downloader-docker-image: any of: docker/downloader/**/*
  build-ci-docker-image: any of: docker/ci/**/*
  build-git-docker-image: any of: docker/git/**/*
  build-java-docker-image: any of: docker/java/**/*
  build-util-docker-image: any of: docker/util/**/*
  build-amster-docker-image: any of: docker/downloader/**/*, docker/java/**/*, docker/amster/**/*
  build-openam-docker-image: any of: docker/downloader/**/*, docker/openam/**/*
  build-ds-docker-image: any of: docker/downloader/**/*, docker/ds/**/*
  push-helm-charts: any of: helm/**/*

GKE swissid-cloud: do not mask out *.cfg files in .gitignore
  .gitignore
Due: none

Making the default values of all VALUE_OVERIDE to "". Provide value if you really want to customize your specific deployment.
  bin/deploy.sh
Due: none

GKE swissid-cloud: create filestore
  bin/gke-up.sh
Due: none

Add CA cert to keystore so keytool can establish CA trust
  docker/ds/bootstrap/create-keystores.sh
Due: build-ds-docker-image

swissid: filter libCVP11LCB in deploy.sh
  bin/deploy.sh
Due: none

forgeops: do not create forgerock home in ds Dockerfile as it already exists
  docker/ds/Dockerfile
Due: build-ds-docker-image

swissid: add legacy mktom.sh script
  bin/mktom.sh
Due: none

swissid: add sample swissid platform
  samples/swissid/Chart.yaml
  samples/swissid/common.yaml
  samples/swissid/env.sh
  samples/swissid/requirements.lock
  samples/swissid/requirements.yaml
  samples/swissid/values.yaml
Due: none

GKE swissid-cloud: replace cert-manager secret
  etc/cert-manager/cert-manager.json.enc
Due: none

GKE swissid-cloud: update self-signed cert config
  etc/generate-tls.cfg
Due: none

swissid: add ssh private key for tofele forgeops github repo
  helm/frconfig/secrets/id_rsa
Due: push-helm-charts

swissid: add legacy server-cert alias
  docker/ds/bootstrap/util.sh
Due: build-ds-docker-image

swissid: add zip & war files to downloader-sample
  docker/downloader-sample/Dockerfile
  docker/downloader-sample/download
Due: none

swissid: switch Dockerfiles to pull from appuio registry
  docker/amster/Dockerfile
  docker/openidm/Dockerfile
Due: build-amster-docker-image

swissid: remove libCVP11LCB stuff
  bin/deploy.sh
Due: none

swissid: updated swissid-tom2 config to use 2 replicas and hard affinity
  samples/config/swissid-tom2/configstore.yaml
  samples/config/swissid-tom2/ctsstore.yaml
  samples/config/swissid-tom2/dsadmin.yaml
  samples/config/swissid-tom2/userstore.yaml
Due: none

openshift: add user.home=/home/forgerock to openam catalina opts (no default home specified in openshift)
  helm/openam/values.yaml
Due: push-helm-charts

openshift: add "-n namespace" argument to some deployment scripts
  bin/deploy-cert-manager-namespace.sh
  bin/deploy-prometheus-namespace.sh
  bin/helm-rbac-init-namespace.sh
Due: none

swissid: swissid-eng config cleanup
  samples/config/swissid-eng/configstore.yaml
  samples/config/swissid-eng/ctsstore.yaml
  samples/config/swissid-eng/userstore.yaml
Due: none

swissid: decreased GKE cluster sizing
  etc/gke-env-west3b.cfg
  etc/gke-env-west4a.cfg
  etc/gke-env.cfg
Due: none

openshift: give amster home more permissions
  docker/amster/Dockerfile
Due: build-amster-docker-image

openshift: give openam home more permissions
  docker/openam/Dockerfile
Due: build-openam-docker-image

swissid: disable backup/restore ins s-cluster for cts & userstore
  samples/config/prod/s-cluster/ctsstore.yaml
  samples/config/prod/s-cluster/userstore.yaml
Due: none

openshift: disable ingress (not used by openshift)
  samples/config/swissid-oc/openam.yaml
Due: none

swissid: add csv file for docker image builds
  docker/csv/swissid.csv
Due: none

swissid: removed old/unused stuff
  bin/mktom.sh
  docker/csv/swissid.csv
Due: none

openshift: use FORGEROCK_HOME as HOME is not defined
  docker/util/docker-entrypoint.sh
Due: build-util-docker-image

swissid: do not create PVC for s-cluster
  samples/config/prod/s-cluster/dsadmin.yaml
Due: none

openshift: add route for openam
  helm/openam/templates/route.yaml
  helm/openam/values.yaml
  samples/config/swissid-oc/openam.yaml
Due: push-helm-charts

swissid: added swissid-tom3 (renamed copy of swissid-tom1)
  samples/config/swissid-tom3/amster.yaml
  samples/config/swissid-tom3/apache-agent.yaml
  samples/config/swissid-tom3/common.yaml
  samples/config/swissid-tom3/configstore.yaml
  samples/config/swissid-tom3/ctsstore.yaml
  samples/config/swissid-tom3/dsadmin.yaml
  samples/config/swissid-tom3/env.sh
  samples/config/swissid-tom3/frconfig.yaml
  samples/config/swissid-tom3/hpa.yaml
  samples/config/swissid-tom3/nginx-agent.yaml
  samples/config/swissid-tom3/openam.yaml
  samples/config/swissid-tom3/userstore.yaml
Due: none

openshift: add tiller support to various oc scripts
  bin/deploy-oc.sh
  bin/oc-up.sh
  bin/remove-all-oc.sh
Due: none

swissid: increased GKE node size for swissid-cloud
  etc/gke-env.cfg
Due: none

openshift: give ds home more permissions
  docker/ds/Dockerfile
Due: build-ds-docker-image

swissid: replaced swissid-oc config with swissid-tom1 and swissid-tom2
  samples/config/swissid-tom1/amster.yaml
  samples/config/swissid-tom1/apache-agent.yaml
  samples/config/swissid-tom1/common.yaml
  samples/config/swissid-tom1/configstore.yaml
  samples/config/swissid-tom1/ctsstore.yaml
  samples/config/swissid-tom1/dsadmin.yaml
  samples/config/swissid-tom1/env.sh
  samples/config/swissid-tom1/frconfig.yaml
  samples/config/swissid-tom1/hpa.yaml
  samples/config/swissid-tom1/nginx-agent.yaml
  samples/config/swissid-tom1/openam.yaml
  samples/config/swissid-tom1/userstore.yaml
  samples/config/swissid-tom2/amster.yaml
  samples/config/swissid-tom2/apache-agent.yaml
  samples/config/swissid-tom2/common.yaml
  samples/config/swissid-tom2/configstore.yaml
  samples/config/swissid-tom2/ctsstore.yaml
  samples/config/swissid-tom2/dsadmin.yaml
  samples/config/swissid-tom2/env.sh
  samples/config/swissid-tom2/frconfig.yaml
  samples/config/swissid-tom2/hpa.yaml
  samples/config/swissid-tom2/nginx-agent.yaml
  samples/config/swissid-tom2/openam.yaml
  samples/config/swissid-tom2/userstore.yaml
Due: none

openshift: add oc-up, deploy-oc and remove-all-oc scripts
  bin/deploy-oc.sh
  bin/oc-up.sh
  bin/remove-all-oc.sh
Due: none

openshift: changes to environment variables for Openshift commands
  bin/deploy-oc.sh
  bin/oc-helm-rbac-init.sh
  bin/oc-up.sh
  etc/oc-env.cfg
Due: none

openshift: set up helm & tiller
  bin/oc-helm-rbac-init.sh
Due: none
