Repository tomfelsws/forgeops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-downloader-docker-image, build-ci-docker-image, build-git-docker-image, build-java-docker-image, build-util-docker-image, build-amster-docker-image, build-openam-docker-image, build-ds-docker-image, push-helm-charts

build-downloader-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-ci-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-git-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-java-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-util-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-amster-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-openam-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-ds-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

push-helm-charts:
  stage: build-base-images
  script:
  - for CHART in $(find helm/ -maxdepth 1 -mindepth 1 -type d); do helm push $CHART $HELM_REPO_URL ; done

quotes and spaces
  helm/amster/templates/config-map.yaml
Due: push-helm-charts

using uid=am-config and correct password
  config/swissid-gitlab/amster.yaml
Due: none

adding userstore config to initial amster config
  config/swissid-gitlab/amster.yaml
Due: none

document how to change configstore password
  change-configstore-passwords.txt
Due: none

2 replicas each
  .gitlab-ci.yml
Due: none

connecting to service names of userstore and configstore
  config/swissid-gitlab/amster.yaml
  docker/util/am_bootstrap.sh
  helm/amster/values.yaml
  helm/openam/values.yaml
Due: build-util-docker-image, push-helm-charts

Revert "connecting to service names of userstore and configstore"
  config/swissid-gitlab/amster.yaml
  docker/util/am_bootstrap.sh
  helm/amster/values.yaml
  helm/openam/values.yaml
Due: build-util-docker-image, push-helm-charts

password encrpytion to PBKDF2
  docker/ds/docker-entrypoint.sh
Due: build-ds-docker-image

remove unused ctsPassword variable
  change-configstore-passwords.txt
  config/swissid-dev/amster.yaml
  config/swissid-eng/amster.yaml
  config/swissid-gitlab/amster.yaml
  config/swissid-int/amster.yaml
  config/swissid-prod/amster.yaml
  config/swissid-test/amster.yaml
  helm/amster/templates/config-map.yaml
  helm/amster/values.yaml
Due: push-helm-charts

remove unused variable
  helm/amster/templates/config-map.yaml
Due: push-helm-charts

redirect errors to stderr
  docker/ds/docker-entrypoint.sh
Due: build-ds-docker-image

gitlab amadmin password is now an env variable
  config/swissid-gitlab/amster.yaml
Due: none

remove ctsStore varaiable
  config/swissid-dev/amster.yaml
  config/swissid-eng/amster.yaml
  config/swissid-gitlab/amster.yaml
  config/swissid-int/amster.yaml
  config/swissid-prod/amster.yaml
  config/swissid-test/amster.yaml
  helm/amster/templates/config-map.yaml
  helm/amster/values.yaml
  samples/config/dev/mini/amster.yaml
  samples/config/dev/multi-ds/amster.yaml
  samples/config/prod/l-cluster/amster.yaml
  samples/config/prod/m-cluster/amster.yaml
  samples/config/prod/s-cluster/amster.yaml
Due: push-helm-charts

encryption key
  config/swissid-dev/amster.yaml
  config/swissid-eng/amster.yaml
  config/swissid-gitlab/amster.yaml
  config/swissid-int/amster.yaml
  config/swissid-prod/amster.yaml
  config/swissid-test/amster.yaml
Due: none

added variables
  .gitlab-ci.yml
Due: none

cosmetics
  docker/ds/docker-entrypoint.sh
Due: build-ds-docker-image

policy agent password
  .gitlab-ci.yml
  config/swissid-gitlab/amster.yaml
Due: none

configstore password
  .gitlab-ci.yml
  config/swissid-gitlab/amster.yaml
Due: none

cts and userstore passwords
  .gitlab-ci.yml
Due: none

userstore password #2
  config/swissid-gitlab/amster.yaml
Due: none

remove prometheus password
  helm/amster/templates/config-map.yaml
  helm/amster/values.yaml
Due: push-helm-charts

additional dirManager default for userstore
  helm/amster/values.yaml
Due: push-helm-charts

cosmetics
  helm/amster/values.yaml
Due: push-helm-charts

updated configstore password doc
  change-configstore-passwords.txt
Due: none

1 replica
  .gitlab-ci.yml
Due: none

passwords
  config/swissid-gitlab/amster.yaml
Due: none

back to SSHA512
  docker/ds/docker-entrypoint.sh
Due: build-ds-docker-image

replicas to 2
  .gitlab-ci.yml
Due: none

password variables back
  config/swissid-gitlab/amster.yaml
Due: none

comment out push-helm-charts
  .gitlab-ci.yml
Due: none

not deploying to APPUiO anymore
  .gitlab-ci.yml
Due: none

not adding helm repo
  .gitlab-ci.yml
Due: none

updated cluster IP
  .gitlab-ci.yml
Due: none

debug
  bin/deploy.sh
Due: none

Update README.md
  docker/downloader/README.md
Due: build-downloader-docker-image, build-amster-docker-image, build-openam-docker-image, build-ds-docker-image

Revert "Update README.md"
  docker/downloader/README.md
Due: build-downloader-docker-image, build-amster-docker-image, build-openam-docker-image, build-ds-docker-image

Dev (#483)
  samples/config/prod/l-cluster/openam.yaml
Due: none

Updates ENVIRONMENT widget on allure report (#536)
  cicd/forgeops-tests/forgeops-tests.py
Due: none

GKE swissid-cloud: add cluster configs
  etc/gke-env-west3b.cfg
  etc/gke-env-west4a.cfg
  etc/gke-env.cfg
Due: none

Path conditions:
  build-downloader-docker-image: any of: docker/downloader/**/*
  build-ci-docker-image: any of: docker/ci/**/*
  build-git-docker-image: any of: docker/git/**/*
  build-java-docker-image: any of: docker/java/**/*
  build-util-docker-image: any of: docker/util/**/*
  build-amster-docker-image: any of: docker/downloader/**/*, docker/java/**/*, docker/amster/**/*
  build-openam-docker-image: any of: docker/downloader/**/*, docker/openam/**/*
  build-ds-docker-image: any of: docker/downloader/**/*, docker/ds/**/*
  push-helm-charts: any of: helm/**/*
