Repository tomfelsws/forgeops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-downloader-docker-image, build-git-docker-image, build-java-docker-image, build-util-docker-image, build-amster-docker-image, build-openam-docker-image, build-ds-docker-image, push-helm-charts

build-downloader-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-git-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-java-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-util-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-amster-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-openam-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-ds-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

push-helm-charts:
  image: docker.io/appuio/helm:v2.12.0
  stage: build-base-images
  script:
  - for CHART in $(find helm/ -maxdepth 1 -mindepth 1 -type d); do helm push $CHART $HELM_REPO_URL ; done

GKE swissid-cloud: do not mask out *.cfg files in .gitignore
  .gitignore
Due: none

swissid: install kubectl, oc & helm in forgeops util docker image
  docker/util/Dockerfile
Due: build-util-docker-image

GKE swissid-cloud: replace cert-manager secret
  etc/cert-manager/cert-manager.json.enc
Due: none

swissid: delete Openshift project
  .gitlab-ci.yml
  bin/deploy-lib.sh
Due: none

swissid: filter libCVP11LCB in deploy.sh
  bin/deploy.sh
Due: none

openshift: give amster home more permissions
  docker/amster/Dockerfile
Due: build-amster-docker-image

openshift: changes to environment variables for Openshift commands
  bin/deploy-oc.sh
  bin/oc-helm-rbac-init.sh
  bin/oc-up.sh
  etc/oc-env.cfg
Due: none

swissid: increased memory for OpenAM to 2Gi
  config/swissid-common/openam.yaml
Due: none

swissid: add csv file for docker image builds
  docker/csv/swissid.csv
Due: none

Maurizio's changes
  .gitlab-ci.yml
  docker/downloader/Dockerfile
  docker/ds/Dockerfile
  docker/git/Dockerfile
  docker/java/Dockerfile
  docker/openam/Dockerfile
  docker/util/Dockerfile
Due: build-downloader-docker-image, build-git-docker-image, build-java-docker-image, build-util-docker-image, build-amster-docker-image, build-openam-docker-image, build-ds-docker-image

openshift: use FORGEROCK_HOME as HOME is not defined
  docker/util/docker-entrypoint.sh
Due: build-util-docker-image

swissid: remove libCVP11LCB stuff
  bin/deploy.sh
Due: none

openshift: add user.home=/home/forgerock to openam catalina opts (no default home specified in openshift)
  helm/openam/values.yaml
Due: push-helm-charts

swissid: swissid-eng config cleanup
  samples/config/swissid-eng/configstore.yaml
  samples/config/swissid-eng/ctsstore.yaml
  samples/config/swissid-eng/userstore.yaml
Due: none

GKE swissid-cloud: update self-signed cert config
  etc/generate-tls.cfg
Due: none

forgeops: reduced storage requirements for s- and m-cluster
  samples/config/prod/m-cluster/ctsstore.yaml
  samples/config/prod/m-cluster/dsadmin.yaml
  samples/config/prod/m-cluster/postgres-openidm.yaml
  samples/config/prod/m-cluster/userstore.yaml
  samples/config/prod/s-cluster/ctsstore.yaml
  samples/config/prod/s-cluster/postgres-openidm.yaml
  samples/config/prod/s-cluster/userstore.yaml
Due: none

swissid: decreased GKE cluster sizing
  etc/gke-env-west3b.cfg
  etc/gke-env-west4a.cfg
  etc/gke-env.cfg
Due: none

swissid: ignore opendj-support-extract-tool.zip for now
  docker/ds/Dockerfile
Due: build-ds-docker-image

swissid: added swissid-tom3 (renamed copy of swissid-tom1)
  samples/config/swissid-tom3/amster.yaml
  samples/config/swissid-tom3/apache-agent.yaml
  samples/config/swissid-tom3/common.yaml
  samples/config/swissid-tom3/configstore.yaml
  samples/config/swissid-tom3/ctsstore.yaml
  samples/config/swissid-tom3/dsadmin.yaml
  samples/config/swissid-tom3/env.sh
  samples/config/swissid-tom3/frconfig.yaml
  samples/config/swissid-tom3/hpa.yaml
  samples/config/swissid-tom3/nginx-agent.yaml
  samples/config/swissid-tom3/openam.yaml
  samples/config/swissid-tom3/userstore.yaml
Due: none

openshift: changed password encryption to SSHA512 as PBKDF2 sometimes takes forever on openshift containers
  docker/ds/docker-entrypoint.sh
Due: build-ds-docker-image

swissid: removed old/unused stuff
  bin/mktom.sh
  docker/csv/swissid.csv
Due: none

openshift: remove old/unused customized OpenShift scripts
  bin/deploy-cert-manager-namespace.sh
  bin/deploy-oc.sh
  bin/deploy-prometheus-namespace.sh
  bin/helm-rbac-init-namespace.sh
  bin/oc-helm-rbac-init.sh
  bin/oc-up.sh
  bin/remove-all-oc.sh
Due: none

swissid: updated swissid-tom2 config to use 2 replicas and hard affinity
  samples/config/swissid-tom2/configstore.yaml
  samples/config/swissid-tom2/ctsstore.yaml
  samples/config/swissid-tom2/dsadmin.yaml
  samples/config/swissid-tom2/userstore.yaml
Due: none

swissid: use OPENAM_REPLICAS variable
  bin/deploy.sh
Due: none

swissid: replaced swissid-oc config with swissid-tom1 and swissid-tom2
  samples/config/swissid-tom1/amster.yaml
  samples/config/swissid-tom1/apache-agent.yaml
  samples/config/swissid-tom1/common.yaml
  samples/config/swissid-tom1/configstore.yaml
  samples/config/swissid-tom1/ctsstore.yaml
  samples/config/swissid-tom1/dsadmin.yaml
  samples/config/swissid-tom1/env.sh
  samples/config/swissid-tom1/frconfig.yaml
  samples/config/swissid-tom1/hpa.yaml
  samples/config/swissid-tom1/nginx-agent.yaml
  samples/config/swissid-tom1/openam.yaml
  samples/config/swissid-tom1/userstore.yaml
  samples/config/swissid-tom2/amster.yaml
  samples/config/swissid-tom2/apache-agent.yaml
  samples/config/swissid-tom2/common.yaml
  samples/config/swissid-tom2/configstore.yaml
  samples/config/swissid-tom2/ctsstore.yaml
  samples/config/swissid-tom2/dsadmin.yaml
  samples/config/swissid-tom2/env.sh
  samples/config/swissid-tom2/frconfig.yaml
  samples/config/swissid-tom2/hpa.yaml
  samples/config/swissid-tom2/nginx-agent.yaml
  samples/config/swissid-tom2/openam.yaml
  samples/config/swissid-tom2/userstore.yaml
Due: none

forgeops: disbaling unused DS backends using new flags
  samples/config/prod/l-cluster/configstore.yaml
  samples/config/prod/l-cluster/ctsstore.yaml
  samples/config/prod/l-cluster/userstore.yaml
  samples/config/prod/m-cluster/configstore.yaml
  samples/config/prod/m-cluster/ctsstore.yaml
  samples/config/prod/m-cluster/userstore.yaml
  samples/config/prod/s-cluster/configstore.yaml
  samples/config/prod/s-cluster/ctsstore.yaml
  samples/config/prod/s-cluster/userstore.yaml
Due: none

swissid: updated docker build.sh to push to GKE and appuio
  docker/build.sh
Due: none

swissid: updated GKE swissid-cloud templates
  etc/gke-env-west3b.cfg
  etc/gke-env-west4a.cfg
Due: none

openshift: changed appuio registry project
  docker/amster/Dockerfile
  docker/build.sh
  docker/openidm/Dockerfile
Due: build-amster-docker-image

gitlab: change Dockerfiles to pull from registry.gitlab.com
  docker/amster/Dockerfile
  docker/apache-agent/Dockerfile
  docker/ds/Dockerfile
  docker/nginx-agent/Dockerfile
  docker/openam/Dockerfile
  docker/openidm/Dockerfile
  docker/openig/Dockerfile
Due: build-amster-docker-image, build-openam-docker-image, build-ds-docker-image

openshift: disable ingress (not used by openshift)
  samples/config/swissid-oc/openam.yaml
Due: none

swissid: add ssh private key for tofele forgeops github repo
  helm/frconfig/secrets/id_rsa
Due: push-helm-charts

gitlab: substitute env variables in yaml files for helm charts
  bin/deploy.sh
Due: none

swissid: add legacy mktom.sh script
  bin/mktom.sh
Due: none

Path conditions:
  build-downloader-docker-image: any of: docker/downloader/**/*
  build-git-docker-image: any of: docker/git/**/*
  build-java-docker-image: any of: docker/java/**/*
  build-util-docker-image: any of: docker/util/**/*
  build-amster-docker-image: any of: docker/downloader/**/*, docker/java/**/*, docker/amster/**/*
  build-openam-docker-image: any of: docker/downloader/**/*, docker/openam/**/*
  build-ds-docker-image: any of: docker/downloader/**/*, docker/ds/**/*
  push-helm-charts: any of: helm/**/*
