Repository tomfelsws/forgeops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-downloader-docker-image, build-git-docker-image, build-java-docker-image, build-util-docker-image, build-amster-docker-image, build-openam-docker-image, build-ds-docker-image, push-helm-charts

build-downloader-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-git-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-java-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-util-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-amster-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-openam-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-ds-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

push-helm-charts:
  image: docker.io/appuio/helm:v2.12.0
  stage: build-base-images
  script:
  - for CHART in $(find helm/ -maxdepth 1 -mindepth 1 -type d); do helm push $CHART $HELM_REPO_URL ; done

swissid: add csv file for docker image builds
  docker/csv/swissid.csv
Due: none

swissid: updated docker build.sh to push to GKE and appuio
  docker/build.sh
Due: none

openshift: add "-n namespace" argument to some deployment scripts
  bin/deploy-cert-manager-namespace.sh
  bin/deploy-prometheus-namespace.sh
  bin/helm-rbac-init-namespace.sh
Due: none

swissid: add sample swissid platform
  samples/swissid/Chart.yaml
  samples/swissid/common.yaml
  samples/swissid/env.sh
  samples/swissid/requirements.lock
  samples/swissid/requirements.yaml
  samples/swissid/values.yaml
Due: none

openshift: disable ingress (not used by openshift)
  samples/config/swissid-oc/openam.yaml
Due: none

swissid: updated swissid-tom2 config to use 2 replicas and hard affinity
  samples/config/swissid-tom2/configstore.yaml
  samples/config/swissid-tom2/ctsstore.yaml
  samples/config/swissid-tom2/dsadmin.yaml
  samples/config/swissid-tom2/userstore.yaml
Due: none

swissid: updated GKE swissid-cloud templates
  etc/gke-env-west3b.cfg
  etc/gke-env-west4a.cfg
Due: none

openshift: give ds home more permissions
  docker/ds/Dockerfile
Due: build-ds-docker-image

swissid: add legacy server-cert alias
  docker/ds/bootstrap/util.sh
Due: build-ds-docker-image

openshift: use FORGEROCK_HOME as HOME is not defined
  docker/util/docker-entrypoint.sh
Due: build-util-docker-image

GKE swissid-cloud: create filestore
  bin/gke-up.sh
Due: none

openshift: add route for openam
  helm/openam/templates/route.yaml
  helm/openam/values.yaml
  samples/config/swissid-oc/openam.yaml
Due: push-helm-charts

swissid: replaced swissid-oc config with swissid-tom1 and swissid-tom2
  samples/config/swissid-tom1/amster.yaml
  samples/config/swissid-tom1/apache-agent.yaml
  samples/config/swissid-tom1/common.yaml
  samples/config/swissid-tom1/configstore.yaml
  samples/config/swissid-tom1/ctsstore.yaml
  samples/config/swissid-tom1/dsadmin.yaml
  samples/config/swissid-tom1/env.sh
  samples/config/swissid-tom1/frconfig.yaml
  samples/config/swissid-tom1/hpa.yaml
  samples/config/swissid-tom1/nginx-agent.yaml
  samples/config/swissid-tom1/openam.yaml
  samples/config/swissid-tom1/userstore.yaml
  samples/config/swissid-tom2/amster.yaml
  samples/config/swissid-tom2/apache-agent.yaml
  samples/config/swissid-tom2/common.yaml
  samples/config/swissid-tom2/configstore.yaml
  samples/config/swissid-tom2/ctsstore.yaml
  samples/config/swissid-tom2/dsadmin.yaml
  samples/config/swissid-tom2/env.sh
  samples/config/swissid-tom2/frconfig.yaml
  samples/config/swissid-tom2/hpa.yaml
  samples/config/swissid-tom2/nginx-agent.yaml
  samples/config/swissid-tom2/openam.yaml
  samples/config/swissid-tom2/userstore.yaml
Due: none

forgeops: disbaling unused DS backends using new flags
  samples/config/prod/l-cluster/configstore.yaml
  samples/config/prod/l-cluster/ctsstore.yaml
  samples/config/prod/l-cluster/userstore.yaml
  samples/config/prod/m-cluster/configstore.yaml
  samples/config/prod/m-cluster/ctsstore.yaml
  samples/config/prod/m-cluster/userstore.yaml
  samples/config/prod/s-cluster/configstore.yaml
  samples/config/prod/s-cluster/ctsstore.yaml
  samples/config/prod/s-cluster/userstore.yaml
Due: none

swissid: increased GKE node size for swissid-cloud
  etc/gke-env.cfg
Due: none

swissid: changed forgeops Dockerfiles to use gitlab registry
  docker/amster/Dockerfile
  docker/apache-agent/Dockerfile
  docker/ds/Dockerfile
  docker/nginx-agent/Dockerfile
  docker/openam/Dockerfile
  docker/openidm/Dockerfile
  docker/openig/Dockerfile
Due: build-amster-docker-image, build-openam-docker-image, build-ds-docker-image

swissid: install kubectl, oc & helm in forgeops util docker image
  docker/util/Dockerfile
Due: build-util-docker-image

swissid: common swissid base config for forgeops
  config/swissid-common/amster.yaml
  config/swissid-common/apache-agent.yaml
  config/swissid-common/common.yaml
  config/swissid-common/configstore.yaml
  config/swissid-common/ctsstore.yaml
  config/swissid-common/dsadmin.yaml
  config/swissid-common/env.sh
  config/swissid-common/frconfig.yaml
  config/swissid-common/hpa.yaml
  config/swissid-common/nginx-agent.yaml
  config/swissid-common/openam.yaml
  config/swissid-common/userstore.yaml
Due: none

gitlab: initial gitlab-ci.yml plus realated deploy-lib.sh
  .gitlab-ci.yml
  bin/deploy-lib.sh
Due: none

swissid: adding opends-support-extract-tool.zip to DS docker image
  docker/ds/opendj-support-extract-tool.zip
Due: build-ds-docker-image

swissid: increased memory for OpenAM to 2Gi
  config/swissid-common/openam.yaml
Due: none

swissid: added stop jobs for test, stag & prod
  .gitlab-ci.yml
Due: none

gitlab: dynamic environment url using branch name for review apps
  .gitlab-ci.yml
Due: none

forgeops: use Values.ingress.hostname instead of Values.fqdn
  cicd/toolbox/templates/deployment.yaml
  helm/amster/templates/_helpers.tpl
  helm/amster/templates/config-map.yaml
  helm/apache-agent/templates/_helpers.tpl
  helm/gatling-benchmark/templates/_helpers.tpl
  helm/nginx-agent/templates/_helpers.tpl
  helm/openam/templates/_helpers.tpl
Due: push-helm-charts

swissid: use Values.ingress.hostname instead of Values.hostname
  config/swissid-common/common.yaml
  config/swissid-common/env.sh
  config/swissid-common/openam.yaml
Due: none

swissid: remove URL_PREFIX
  bin/deploy-lib.sh
  config/swissid-common/env.sh
Due: none

gitlab: add EXTERNAL_FQDN variable
  .gitlab-ci.yml
Due: none

gitlab: remove namespace from environment URLs
  .gitlab-ci.yml
Due: none

swissid: use EXTERNAL_FQDN variable for agents
  config/swissid-common/apache-agent.yaml
  config/swissid-common/nginx-agent.yaml
Due: none

swissid: replace KUBERNETES_DOMAIN with just DOMAIN
  .gitlab-ci.yml
  bin/deploy-lib.sh
  config/swissid-common/common.yaml
Due: none

swissid: remove 2Gi memory requirement from common openam
  config/swissid-common/openam.yaml
Due: none

swissid: remove 1Gi memory requirement for common
  config/swissid-common/common.yaml
Due: none

swissid: create Openshift project from gitlab
  .gitlab-ci.yml
  bin/deploy-lib.sh
Due: none

test
  .gitlab-ci.yml
  bin/deploy-lib.sh
Due: none

prepend sws- to namespace
  .gitlab-ci.yml
Due: none

test
  bin/deploy-lib.sh
Due: none

fix
  bin/deploy-lib.sh
Due: none

Path conditions:
  build-downloader-docker-image: any of: docker/downloader/**/*
  build-git-docker-image: any of: docker/git/**/*
  build-java-docker-image: any of: docker/java/**/*
  build-util-docker-image: any of: docker/util/**/*
  build-amster-docker-image: any of: docker/downloader/**/*, docker/java/**/*, docker/amster/**/*
  build-openam-docker-image: any of: docker/downloader/**/*, docker/openam/**/*
  build-ds-docker-image: any of: docker/downloader/**/*, docker/ds/**/*
  push-helm-charts: any of: helm/**/*
