Repository tomfelsws/forgeops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-downloader-docker-image, build-git-docker-image, build-java-docker-image, build-util-docker-image, build-amster-docker-image, build-openam-docker-image, build-ds-docker-image, push-helm-charts

Path conditions:
  build-downloader-docker-image: any of: docker/downloader/**/*
  build-git-docker-image: any of: docker/git/**/*
  build-java-docker-image: any of: docker/java/**/*
  build-util-docker-image: any of: docker/util/**/*
  build-amster-docker-image: any of: docker/downloader/**/*, docker/java/**/*, docker/amster/**/*
  build-openam-docker-image: any of: docker/downloader/**/*, docker/openam/**/*
  build-ds-docker-image: any of: docker/downloader/**/*, docker/ds/**/*
  push-helm-charts: any of: helm/**/*

GKE swissid-cloud: create filestore
  bin/gke-up.sh
Due: none

openshift: disable ingress (not used by openshift)
  samples/config/swissid-oc/openam.yaml
Due: none

GKE swissid-cloud: do not mask out *.cfg files in .gitignore
  .gitignore
Due: none

forgeops: disbaling unused DS backends using new flags
  samples/config/prod/l-cluster/configstore.yaml
  samples/config/prod/l-cluster/ctsstore.yaml
  samples/config/prod/l-cluster/userstore.yaml
  samples/config/prod/m-cluster/configstore.yaml
  samples/config/prod/m-cluster/ctsstore.yaml
  samples/config/prod/m-cluster/userstore.yaml
  samples/config/prod/s-cluster/configstore.yaml
  samples/config/prod/s-cluster/ctsstore.yaml
  samples/config/prod/s-cluster/userstore.yaml
Due: none

swissid: add sample swissid platform
  samples/swissid/Chart.yaml
  samples/swissid/common.yaml
  samples/swissid/env.sh
  samples/swissid/requirements.lock
  samples/swissid/requirements.yaml
  samples/swissid/values.yaml
Due: none

openshift: give ds home more permissions
  docker/ds/Dockerfile
Due: build-ds-docker-image

openshift: changes to environment variables for Openshift commands
  bin/deploy-oc.sh
  bin/oc-helm-rbac-init.sh
  bin/oc-up.sh
  etc/oc-env.cfg
Due: none

GKE swissid-cloud: update self-signed cert config
  etc/generate-tls.cfg
Due: none

GKE swissid-cloud: add cluster configs
  etc/gke-env-west3b.cfg
  etc/gke-env-west4a.cfg
  etc/gke-env.cfg
Due: none

swissid: add ssh private key for tofele forgeops github repo
  helm/frconfig/secrets/id_rsa
Due: push-helm-charts

swissid: updated GKE swissid-cloud templates
  etc/gke-env-west3b.cfg
  etc/gke-env-west4a.cfg
Due: none

GKE swissid-cloud: replace cert-manager secret
  etc/cert-manager/cert-manager.json.enc
Due: none

forgeops: reduced storage requirements for s- and m-cluster
  samples/config/prod/m-cluster/ctsstore.yaml
  samples/config/prod/m-cluster/dsadmin.yaml
  samples/config/prod/m-cluster/postgres-openidm.yaml
  samples/config/prod/m-cluster/userstore.yaml
  samples/config/prod/s-cluster/ctsstore.yaml
  samples/config/prod/s-cluster/postgres-openidm.yaml
  samples/config/prod/s-cluster/userstore.yaml
Due: none

sws-mau1 changes
  .gitlab-ci.yml
  config/swissid-oc/env.sh
  docker/downloader/Dockerfile
  docker/ds/Dockerfile
  docker/git/Dockerfile
  docker/java/Dockerfile
  docker/openam/Dockerfile
  docker/util/Dockerfile
Due: build-downloader-docker-image, build-git-docker-image, build-java-docker-image, build-util-docker-image, build-amster-docker-image, build-openam-docker-image, build-ds-docker-image

openshift: give amster home more permissions
  docker/amster/Dockerfile
Due: build-amster-docker-image

openshift: changed appuio registry project
  docker/amster/Dockerfile
  docker/build.sh
  docker/openidm/Dockerfile
Due: build-amster-docker-image

swissid: add legacy mktom.sh script
  bin/mktom.sh
Due: none

openshift: add user.home=/home/forgerock to openam catalina opts (no default home specified in openshift)
  helm/openam/values.yaml
Due: push-helm-charts

forgeops: do not create forgerock home in ds Dockerfile as it already exists
  docker/ds/Dockerfile
Due: build-ds-docker-image

openshift: add tiller support to various oc scripts
  bin/deploy-oc.sh
  bin/oc-up.sh
  bin/remove-all-oc.sh
Due: none

openshift: set up helm & tiller
  bin/oc-helm-rbac-init.sh
Due: none

swissid: add zip & war files to downloader-sample
  docker/downloader-sample/Dockerfile
  docker/downloader-sample/download
Due: none

swissid: added swissid-tom3 (renamed copy of swissid-tom1)
  samples/config/swissid-tom3/amster.yaml
  samples/config/swissid-tom3/apache-agent.yaml
  samples/config/swissid-tom3/common.yaml
  samples/config/swissid-tom3/configstore.yaml
  samples/config/swissid-tom3/ctsstore.yaml
  samples/config/swissid-tom3/dsadmin.yaml
  samples/config/swissid-tom3/env.sh
  samples/config/swissid-tom3/frconfig.yaml
  samples/config/swissid-tom3/hpa.yaml
  samples/config/swissid-tom3/nginx-agent.yaml
  samples/config/swissid-tom3/openam.yaml
  samples/config/swissid-tom3/userstore.yaml
Due: none

openshift: add oc-env.cfg
  etc/oc-env.cfg
Due: none

swissid: filter libCVP11LCB in deploy.sh
  bin/deploy.sh
Due: none

swissid: disable backup/restore ins s-cluster for cts & userstore
  samples/config/prod/s-cluster/ctsstore.yaml
  samples/config/prod/s-cluster/userstore.yaml
Due: none

swissid: do not create PVC for s-cluster
  samples/config/prod/s-cluster/dsadmin.yaml
Due: none

openshift: changed password encryption to SSHA512 as PBKDF2 sometimes takes forever on openshift containers
  docker/ds/docker-entrypoint.sh
Due: build-ds-docker-image

swissid: update build.sh script to push to appuio and eu.gcr.io registries
  docker/build.sh
Due: none

openshift: add oc-up, deploy-oc and remove-all-oc scripts
  bin/deploy-oc.sh
  bin/oc-up.sh
  bin/remove-all-oc.sh
Due: none

swissid: switch Dockerfiles to pull from appuio registry
  docker/amster/Dockerfile
  docker/openidm/Dockerfile
Due: build-amster-docker-image

swissid: swissid-eng config cleanup
  samples/config/swissid-eng/configstore.yaml
  samples/config/swissid-eng/ctsstore.yaml
  samples/config/swissid-eng/userstore.yaml
Due: none

openshift: give openam home more permissions
  docker/openam/Dockerfile
Due: build-openam-docker-image
