Repository tomfelsws/forgeops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-downloader-docker-image, build-git-docker-image, build-java-docker-image, build-util-docker-image, build-amster-docker-image, build-openam-docker-image, build-ds-docker-image, push-helm-charts

build-downloader-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-git-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-java-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-util-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-amster-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-openam-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

build-ds-docker-image:
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY --pull -t "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_SHA" docker/$IMAGE
  ...

push-helm-charts:
  image: docker.io/appuio/helm:v2.12.0
  stage: build-base-images
  script:
  - for CHART in $(find helm/ -maxdepth 1 -mindepth 1 -type d); do helm push $CHART $HELM_REPO_URL ; done

commented out policy line
  .gitlab-ci.yml
Due: none

trigger
  .gitlab-ci.yml
Due: none

Check exit code of kubectl
  bin/deploy-lib.sh
Due: none

swissid: gitlab integration 2
  .gitlab-ci.yml
  bin/deploy-lib.sh
Due: none

don't install kubectl and helm anymore
  bin/deploy-lib.sh
Due: none

don't run tiller cmd
  bin/deploy-lib.sh
Due: none

don't install kubectl
  bin/deploy-lib.sh
Due: none

openshift: add tiller support to various oc scripts
  bin/deploy-oc.sh
  bin/oc-up.sh
  bin/remove-all-oc.sh
Due: none

swissid: add csv file for docker image builds
  docker/csv/swissid.csv
Due: none

openshift: add oc-up, deploy-oc and remove-all-oc scripts
  bin/deploy-oc.sh
  bin/oc-up.sh
  bin/remove-all-oc.sh
Due: none

swissid: replaced swissid-oc config with swissid-tom1 and swissid-tom2
  samples/config/swissid-tom1/amster.yaml
  samples/config/swissid-tom1/apache-agent.yaml
  samples/config/swissid-tom1/common.yaml
  samples/config/swissid-tom1/configstore.yaml
  samples/config/swissid-tom1/ctsstore.yaml
  samples/config/swissid-tom1/dsadmin.yaml
  samples/config/swissid-tom1/env.sh
  samples/config/swissid-tom1/frconfig.yaml
  samples/config/swissid-tom1/hpa.yaml
  samples/config/swissid-tom1/nginx-agent.yaml
  samples/config/swissid-tom1/openam.yaml
  samples/config/swissid-tom1/userstore.yaml
  samples/config/swissid-tom2/amster.yaml
  samples/config/swissid-tom2/apache-agent.yaml
  samples/config/swissid-tom2/common.yaml
  samples/config/swissid-tom2/configstore.yaml
  samples/config/swissid-tom2/ctsstore.yaml
  samples/config/swissid-tom2/dsadmin.yaml
  samples/config/swissid-tom2/env.sh
  samples/config/swissid-tom2/frconfig.yaml
  samples/config/swissid-tom2/hpa.yaml
  samples/config/swissid-tom2/nginx-agent.yaml
  samples/config/swissid-tom2/openam.yaml
  samples/config/swissid-tom2/userstore.yaml
Due: none

swissid: increased GKE node size for swissid-cloud
  etc/gke-env.cfg
Due: none

openshift: changed appuio registry project
  docker/amster/Dockerfile
  docker/build.sh
  docker/openidm/Dockerfile
Due: build-amster-docker-image

swissid: disable backup/restore ins s-cluster for cts & userstore
  samples/config/prod/s-cluster/ctsstore.yaml
  samples/config/prod/s-cluster/userstore.yaml
Due: none

swissid: add legacy server-cert alias
  docker/ds/bootstrap/util.sh
Due: build-ds-docker-image

swissid: do not create PVC for s-cluster
  samples/config/prod/s-cluster/dsadmin.yaml
Due: none

swissid: update build.sh script to push to appuio and eu.gcr.io registries
  docker/build.sh
Due: none

swissid: added swissid-tom3 (renamed copy of swissid-tom1)
  samples/config/swissid-tom3/amster.yaml
  samples/config/swissid-tom3/apache-agent.yaml
  samples/config/swissid-tom3/common.yaml
  samples/config/swissid-tom3/configstore.yaml
  samples/config/swissid-tom3/ctsstore.yaml
  samples/config/swissid-tom3/dsadmin.yaml
  samples/config/swissid-tom3/env.sh
  samples/config/swissid-tom3/frconfig.yaml
  samples/config/swissid-tom3/hpa.yaml
  samples/config/swissid-tom3/nginx-agent.yaml
  samples/config/swissid-tom3/openam.yaml
  samples/config/swissid-tom3/userstore.yaml
Due: none

openshift: add user.home=/home/forgerock to openam catalina opts (no default home specified in openshift)
  helm/openam/values.yaml
Due: push-helm-charts

openshift: add "-n namespace" argument to some deployment scripts
  bin/deploy-cert-manager-namespace.sh
  bin/deploy-prometheus-namespace.sh
  bin/helm-rbac-init-namespace.sh
Due: none

openshift: give amster home more permissions
  docker/amster/Dockerfile
Due: build-amster-docker-image

forgeops: do not create forgerock home in ds Dockerfile as it already exists
  docker/ds/Dockerfile
Due: build-ds-docker-image

swissid: add legacy mktom.sh script
  bin/mktom.sh
Due: none

swissid: switch Dockerfiles to pull from appuio registry
  docker/amster/Dockerfile
  docker/openidm/Dockerfile
Due: build-amster-docker-image

swissid: updated swissid-tom2 config to use 2 replicas and hard affinity
  samples/config/swissid-tom2/configstore.yaml
  samples/config/swissid-tom2/ctsstore.yaml
  samples/config/swissid-tom2/dsadmin.yaml
  samples/config/swissid-tom2/userstore.yaml
Due: none

openshift: set up helm & tiller
  bin/oc-helm-rbac-init.sh
Due: none

openshift: add route for openam
  helm/openam/templates/route.yaml
  helm/openam/values.yaml
  samples/config/swissid-oc/openam.yaml
Due: push-helm-charts

openshift: give openam home more permissions
  docker/openam/Dockerfile
Due: build-openam-docker-image

openshift: add oc-env.cfg
  etc/oc-env.cfg
Due: none

swissid: add zip & war files to downloader-sample
  docker/downloader-sample/Dockerfile
  docker/downloader-sample/download
Due: none

openshift: use FORGEROCK_HOME as HOME is not defined
  docker/util/docker-entrypoint.sh
Due: build-util-docker-image

swissid: filter libCVP11LCB in deploy.sh
  bin/deploy.sh
Due: none

swissid: updated docker build.sh to push to GKE and appuio
  docker/build.sh
Due: none

openshift: changed password encryption to SSHA512 as PBKDF2 sometimes takes forever on openshift containers
  docker/ds/docker-entrypoint.sh
Due: build-ds-docker-image

swissid: gitlab integration
  .gitlab-ci.yml
  bin/deploy-lib.sh
  config/swissid-base/amster.yaml
  config/swissid-base/common.yaml
  config/swissid-base/configstore.yaml
  config/swissid-base/ctsstore.yaml
  config/swissid-base/env.sh
  config/swissid-base/frconfig.yaml
  config/swissid-base/openam.yaml
  config/swissid-base/userstore.yaml
  config/swissid-oc/amster.yaml
  config/swissid-oc/apache-agent.yaml
  config/swissid-oc/common.yaml
  config/swissid-oc/configstore.yaml
  config/swissid-oc/ctsstore.yaml
  config/swissid-oc/dsadmin.yaml
  config/swissid-oc/env.sh
  config/swissid-oc/frconfig.yaml
  config/swissid-oc/hpa.yaml
  config/swissid-oc/nginx-agent.yaml
  config/swissid-oc/openam.yaml
  config/swissid-oc/userstore.yaml
  docker/amster/Dockerfile
  docker/apache-agent/Dockerfile
  docker/downloader/README.md
  docker/ds/Dockerfile
  docker/ds/opendj-support-extract-tool.zip
  docker/nginx-agent/Dockerfile
  docker/openam/Dockerfile
  docker/openidm/Dockerfile
  docker/openig/Dockerfile
  docker/util/Dockerfile
Due: build-downloader-docker-image, build-util-docker-image, build-amster-docker-image, build-openam-docker-image, build-ds-docker-image

swissid: swissid-eng config cleanup
  samples/config/swissid-eng/configstore.yaml
  samples/config/swissid-eng/ctsstore.yaml
  samples/config/swissid-eng/userstore.yaml
Due: none

Path conditions:
  build-downloader-docker-image: any of: docker/downloader/**/*
  build-git-docker-image: any of: docker/git/**/*
  build-java-docker-image: any of: docker/java/**/*
  build-util-docker-image: any of: docker/util/**/*
  build-amster-docker-image: any of: docker/downloader/**/*, docker/java/**/*, docker/amster/**/*
  build-openam-docker-image: any of: docker/downloader/**/*, docker/openam/**/*
  build-ds-docker-image: any of: docker/downloader/**/*, docker/ds/**/*
  push-helm-charts: any of: helm/**/*
