Repository tomfelsws/forgeops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-downloader-docker-image, build-git-docker-image, build-java-docker-image, build-util-docker-image, build-amster-docker-image, build-openam-docker-image, build-ds-docker-image, push-helm-charts

Path conditions:
  build-downloader-docker-image: any of: docker/downloader/**/*
  build-git-docker-image: any of: docker/git/**/*
  build-java-docker-image: any of: docker/java/**/*
  build-util-docker-image: any of: docker/util/**/*
  build-amster-docker-image: any of: docker/downloader/**/*, docker/java/**/*, docker/amster/**/*
  build-openam-docker-image: any of: docker/downloader/**/*, docker/openam/**/*
  build-ds-docker-image: any of: docker/downloader/**/*, docker/ds/**/*
  push-helm-charts: any of: helm/**/*

fix
  bin/deploy-lib.sh
Due: none

swissid: create Openshift project from gitlab
  .gitlab-ci.yml
  bin/deploy-lib.sh
Due: none

sws-mau1 changes
  .gitlab-ci.yml
  docker/downloader/Dockerfile
  docker/ds/Dockerfile
  docker/git/Dockerfile
  docker/java/Dockerfile
  docker/openam/Dockerfile
  docker/util/Dockerfile
Due: build-downloader-docker-image, build-git-docker-image, build-java-docker-image, build-util-docker-image, build-amster-docker-image, build-openam-docker-image, build-ds-docker-image

mau changes
  .gitlab-ci.yml
  docker/downloader/Dockerfile
  docker/ds/Dockerfile
  docker/git/Dockerfile
  docker/java/Dockerfile
  docker/openam/Dockerfile
  docker/util/Dockerfile
Due: build-downloader-docker-image, build-git-docker-image, build-java-docker-image, build-util-docker-image, build-amster-docker-image, build-openam-docker-image, build-ds-docker-image

swissid: delete Openshift project
  .gitlab-ci.yml
  bin/deploy-lib.sh
Due: none

added admin group
  bin/deploy-lib.sh
Due: none

swissid: renaming to APPUiO projects
  .gitlab-ci.yml
  bin/deploy-lib.sh
Due: none

swissid: separate deployment jobs for test, stag & prod
  .gitlab-ci.yml
Due: none

swissid: add back create_namespace()
  bin/deploy-lib.sh
Due: none

gitlab: new comments
  .gitlab-ci.yml
Due: none

gitlab: improve delete procedure
  bin/deploy-lib.sh
Due: none

helm 2.12.0
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

swissid: common swissid base config for forgeops
  config/swissid-common/amster.yaml
  config/swissid-common/apache-agent.yaml
  config/swissid-common/common.yaml
  config/swissid-common/configstore.yaml
  config/swissid-common/ctsstore.yaml
  config/swissid-common/dsadmin.yaml
  config/swissid-common/env.sh
  config/swissid-common/frconfig.yaml
  config/swissid-common/hpa.yaml
  config/swissid-common/nginx-agent.yaml
  config/swissid-common/openam.yaml
  config/swissid-common/userstore.yaml
Due: none

GKE swissid-cloud: create filestore
  bin/gke-up.sh
Due: none

swissid: removed libcvP11 stuff
  bin/deploy.sh
Due: none

openshift: add user.home=/home/forgerock to openam catalina opts (no default home specified in openshift)
  helm/openam/values.yaml
Due: push-helm-charts

openshift: add route for openam
  helm/openam/templates/route.yaml
  helm/openam/values.yaml
  samples/config/swissid-oc/openam.yaml
Due: push-helm-charts

openshift: changed password encryption to SSHA512 as PBKDF2 sometimes takes forever on openshift containers
  docker/ds/docker-entrypoint.sh
Due: build-ds-docker-image

openshift: give ds home more permissions
  docker/ds/Dockerfile
Due: build-ds-docker-image

swissid: add zip & war files to downloader-sample
  docker/downloader-sample/Dockerfile
  docker/downloader-sample/download
Due: none

swissid: update build.sh script to push to appuio and eu.gcr.io registries
  docker/build.sh
Due: none

swissid: add legacy server-cert alias
  docker/ds/bootstrap/util.sh
Due: build-ds-docker-image

swissid: disable backup/restore ins s-cluster for cts & userstore
  samples/config/prod/s-cluster/ctsstore.yaml
  samples/config/prod/s-cluster/userstore.yaml
Due: none

openshift: use FORGEROCK_HOME as HOME is not defined
  docker/util/docker-entrypoint.sh
Due: build-util-docker-image

swissid: changed forgeops Dockerfiles to use gitlab registry
  docker/amster/Dockerfile
  docker/apache-agent/Dockerfile
  docker/ds/Dockerfile
  docker/nginx-agent/Dockerfile
  docker/openam/Dockerfile
  docker/openidm/Dockerfile
  docker/openig/Dockerfile
Due: build-amster-docker-image, build-openam-docker-image, build-ds-docker-image

swissid: switch Dockerfiles to pull from appuio registry
  docker/amster/Dockerfile
  docker/openidm/Dockerfile
Due: build-amster-docker-image

swissid: replace KUBERNETES_DOMAIN with just DOMAIN
  .gitlab-ci.yml
  bin/deploy-lib.sh
  config/swissid-common/common.yaml
Due: none

gitlab: remove namespace from environment URLs
  .gitlab-ci.yml
Due: none

gitlab: dynamic environment url using branch name for review apps
  .gitlab-ci.yml
Due: none
