Repository tomfelsws/forgeops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-downloader-docker-image, build-ci-docker-image, build-git-docker-image, build-java-docker-image, build-util-docker-image, build-amster-docker-image, build-openam-docker-image, build-ds-docker-image, push-helm-charts

Path conditions:
  build-downloader-docker-image: any of: docker/downloader/**/*
  build-ci-docker-image: any of: docker/ci/**/*
  build-git-docker-image: any of: docker/git/**/*
  build-java-docker-image: any of: docker/java/**/*
  build-util-docker-image: any of: docker/util/**/*
  build-amster-docker-image: any of: docker/downloader/**/*, docker/java/**/*, docker/amster/**/*
  build-openam-docker-image: any of: docker/downloader/**/*, docker/openam/**/*
  build-ds-docker-image: any of: docker/downloader/**/*, docker/ds/**/*
  push-helm-charts: any of: helm/**/*

cosmetics
  docker/ds/bootstrap/setup-ds.sh
  docker/ds/bootstrap/setup.sh
Due: build-ds-docker-image

replication settings from Sesam
  docker/ds/bootstrap/setup.sh
  sesam/bin/sh/opendj/lib-shared-opendj.sh
Due: build-ds-docker-image

code refactor
  docker/ds/bootstrap/setup.sh
Due: build-ds-docker-image

finished replication stuff
  sesam/bin/sh/opendj/lib-shared-opendj.sh
  sesam/bin/sh/opendj/status-replication.sh
Due: none

moved replication scripts
  sesam/bin/sh/opendj/disable-replication.sh
  sesam/bin/sh/opendj/enable-replication.sh
Due: none

removing old sesam scripts
  sesam/bin/sh/opendj/lib-configstore-opendj.sh
  sesam/bin/sh/opendj/lib-ctsstore-opendj.sh
  sesam/bin/sh/opendj/lib-userstore-opendj.sh
  sesam/bin/sh/setup-opendj.sh
Due: none

removed more old sesam code
  sesam/bin/sh/setup-opendj.sh
Due: none

two cts replicas
  .gitlab-ci.yml
Due: none

cosmetics
  docker/ds/docker-entrypoint.sh
Due: build-ds-docker-image

change am-config password to be in sync with value in amster
  helm/ds/secrets/configstore.pw
Due: push-helm-charts

3 DS replicas each
  .gitlab-ci.yml
Due: none

2 AM replicas
  .gitlab-ci.yml
Due: none

3 AM replicas
  .gitlab-ci.yml
Due: none

correct amster config
  config/swissid-gitlab/amster.yaml
  helm/ds/secrets/configstore.pw
Due: push-helm-charts

just 1 replica
  .gitlab-ci.yml
Due: none

cleanup
  docker/ds/env.sh
Due: build-ds-docker-image

lots of replicas ;-)
  .gitlab-ci.yml
Due: none

back to 2 replicas each
  .gitlab-ci.yml
Due: none

cleanup
  docker/ds/bootstrap/util.sh
Due: build-ds-docker-image

moved cts-poststart.sh stuff to utils.sh
  docker/ds/bootstrap/util.sh
  helm/ds/templates/ds.yaml
Due: build-ds-docker-image, push-helm-charts

debuf RS_SERVERS
  docker/ds/docker-entrypoint.sh
Due: build-ds-docker-image

undo some of the amster config
  config/swissid-gitlab/amster.yaml
Due: none

restart DS only for userstore
  docker/ds/docker-entrypoint.sh
Due: build-ds-docker-image

only 1 replica of all things for now
  .gitlab-ci.yml
Due: none

restart DS for all stores
  docker/ds/docker-entrypoint.sh
Due: build-ds-docker-image

restore custom amster config
  config/swissid-gitlab/amster.yaml
Due: none

fixing amster access to configstore
  config/swissid-gitlab/amster.yaml
  helm/amster/templates/config-map.yaml
  helm/amster/values.yaml
Due: push-helm-charts

try dirmanager instead
  config/swissid-gitlab/amster.yaml
Due: none

rollback amster stuff
  config/swissid-gitlab/amster.yaml
  helm/amster/values.yaml
Due: push-helm-charts

ignore userstore for now
  config/swissid-gitlab/amster.yaml
Due: none

test
  config/swissid-gitlab/amster.yaml
  helm/openam/templates/config-map.yaml
Due: push-helm-charts

correct baseDN
  helm/openam/templates/config-map.yaml
Due: push-helm-charts

rollback amster stuff
  config/swissid-gitlab/amster.yaml
  helm/amster/templates/config-map.yaml
  helm/amster/values.yaml
Due: push-helm-charts

rollback stuff
  .gitlab-ci.yml
  config/swissid-gitlab/amster.yaml
  helm/amster/templates/config-map.yaml
  helm/amster/values.yaml
  helm/openam/templates/config-map.yaml
Due: push-helm-charts

use dirmanmager
  helm/amster/values.yaml
Due: push-helm-charts

use keystore-tom.jceks
  helm/amster/values.yaml
  helm/openam/secrets/keystore-tom.jceks
  helm/openam/templates/config-map.yaml
Due: push-helm-charts

back to keystore.jceks
  helm/openam/secrets/keystore-forgeops.jceks
  helm/openam/secrets/keystore-tom.jceks
  helm/openam/secrets/keystore.jceks
  helm/openam/templates/config-map.yaml
Due: push-helm-charts

add --cfgStoreDirMgr, now
  helm/amster/templates/config-map.yaml
Due: push-helm-charts

gitlab amster config using cn=Directory Manager
  config/swissid-gitlab/amster.yaml
Due: none
